*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(https://lh3.googleusercontent.com/drive-storage/AJQWtBMpzXNmUN2pNHYpx3IM7REwuIpoD9T4DZiazGGPW9Yh1Bgv6JbAvFa9jC1AFaY88Mu-BC_Pco-KIWmPJt4L5ivZ5dwYJT1nBIjwfveYtiniQzw=w105-h70-c);
    background-size: 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}

.logo{
  
    width: 200px;
    cursor: pointer;
}

.navbar{
    width: 92%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    margin-bottom: 40px;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#0276ac5f,#000729);
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img,.useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}

.stars img{
    animation: stars 7s linear infinite;
}
.stars{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 70%;
}

@keyframes stars{
    0% {
        transform: translateX(0);
        opacity:0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(80vh);
        opacity: 0;
    }
}

.stars img:nth-child(1){
    animation-delay: 2s;
    width: 50px;
}

.stars img:nth-child(2){
    animation-delay: 1s;
}

.stars img:nth-child(3){
    animation-delay: 3s;
    width: 50px;
}
.stars img:nth-child(4){
    animation-delay: 4.5s;
}

.stars img:nth-child(5){
    animation-delay: 3s;
}
.stars img:nth-child(6){
    animation-delay: 6s;
    width: 45px;
}
.stars img:nth-child(7){
    animation-delay: 7s;
    width: 60px;
}

@media screen and (max-width:600px){
    h1{
        font-size: 36px;
        line-height: 50px;
        color: white;
    }
   
    .side-bar{
        width: 100%;
        height: 50px;
        top: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .social-links{
        width: auto;
        position: unset;
        transform: none;
    }

    .useful-links{
        width: auto;
        position: unset;
    }
    .menu{
        width: 18px;
        margin: 0;
    }
    .hero{
        background-image: url(https://th.bing.com/th?id=OIP.c1ef2hheOz5uPJe_rKAaegHaHu&w=244&h=255&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
        background-size: cover;
    }
}

@media screen and (max-width:900px) and (min-width:600px){
    h1{
        font-size: 56px;
        line-height: 50px;
        color: white;
    }
    p{
font-size: 20px;
    }
   
    .side-bar{
        width: 100%;
        height: 50px;
        top: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .social-links{
        width: auto;
        position: unset;
        transform: none;
    }

    .useful-links{
        width: auto;
        position: unset;
    }
    .menu{
        width: 18px;
        margin: 0;
    }
    .hero{
        background-image: url(https://th.bing.com/th?id=OIP.c1ef2hheOz5uPJe_rKAaegHaHu&w=244&h=255&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
        background-size: cover;
    }
}